.menu-bar {
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar,
.menu,
.menu-item,
.context-menu,
.separator-menu-item{
    -fx-background-color: #313233;
}

.menu .label {
    -fx-text-fill: #fff;
}

.menu:hover,
.menu:focused,
.menu:showing,
.menu-item:focused {
     -fx-background-color: #444;
     -fx-focus-color:#444;
}

.menu:hover>.label,
.menu:focused>.label,
.menu:showing>.label,
.menu-item:focused>.label,
.menu-item:hover>.label{
    -fx-text-fill: #fff;
}

* {
    -fx-font-family: 'Open Sans';
    -fx-text-fill: #313233;
    -fx-font-size: 12px;
}

.disabled{
    -fx-text-fill: #999;
}
.error{
    -fx-text-fill: #F54A4A;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

#title{
    -fx-font-size: 32px;
}
#container{
    -fx-padding: 25px 50px 50px 50px;
    -fx-pref-width: 100%;
}


.btn{
    -fx-background-color: #4081be;
    -fx-text-fill: #fff;
    -fx-border-radius: 0;
    -fx-pref-width: 200px;
    -fx-pref-height: 55px;
    -fx-border-color: #4081be;
    -fx-border-width: 1;
}
.btn:hover{
    -fx-background-color: #468fd3;
}
.btn-alt:hover{
    -fx-background-color: #313233;
    -fx-text-fill: #fff;
}
.btn .text{
    -fx-font-size: 14px;
}
.btn-small .text{
    -fx-font-size: 12px;
}
.btn-alt{
    -fx-background-color: #fff;
    -fx-text-fill: #313233;
    -fx-border-color: #313233;
}
.btn-small{
    -fx-pref-width: 80px;
    -fx-pref-height: 30px;
    -fx-font-size: 13px;
}

.h3{
    -fx-font-size: 16px;
}

#sidebar{
    -fx-padding: 25px 25px 25px 25px;
    -fx-background-color: #4081be;
    -fx-spacing: 25px;
}
#preloader{
    -fx-background-color: #0087c6;
}
#bottom{
    -fx-background-color: #fff;
}
#sidebar .h3,
#preloader .h3{
    -fx-fill: #fff;
}
#cargando{
    -fx-font-size: 16px;
    -fx-text-fill: #313233;
}
#sidebar .btn{
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: 1;
    -fx-text-fill: #fff;
}
#sidebar .btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #4081be;
}
#sidebar .label,
#preloader .label{
    -fx-text-fill: #a1ccf5;
    -fx-size: 13px;
    -fx-text-align: right;
}
#preloader #gif{
    -fx-pref-width: 25px;
}

.modalTitle.label{
    -fx-font-size: 22px;
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-font-weight: bold;
}